<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Shopping!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline" action="/products/userSearch" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Products" name="title" aria-label="Search">
            <button class="btn btn-light my-sm-0" type="submit">Search</button>
        </form>
        <ul class=" nav navbar-nav ml-auto">
            
            <li class="nav-item">
           
               <% if (login){ %>
                <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i>
                    Shopping
                    <%   if (session.cart && session.cart.totalQty) { %>
                    </i> Cart <span class="badge badge-light"><%=  session.cart.totalQty  %></span></a>
                    <% } %>

                </a>
                <li>
                <a class="nav-link" href="../user/profile"><i></i>
                    &nbsp; &nbsp; Hello <%=_user.firstName %> &nbsp; &nbsp;</a>
                <li>
                <% if(_user.imagePath != null){ %>
                <img src="<%= _user.imagePath %>" class="profile-pic rounded-circle" alt="user image">
                <% } %>


                <%} else {%>
                <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i>
                    Shopping
                    <%   if (session.cart && session.cart.totalQty) { %>
                    </i> Cart <span class="badge badge-light"><%=  session.cart.totalQty  %></span></a>
                    <% } %>
                </a>
                <% } %>
            </li>
            <li class="nav-item dropdown">
                <% if (login){ %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User Management
                </a>
                <% } else { %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>
                    User Management
                </a>
                <% } %>


                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%if(login && _user.admin === true){%>
                    <a class="dropdown-item" href="/user/profile">Orders</a>
                    <a class="dropdown-item" href="/products/search">Search Products</a>
                    <a class="dropdown-item" href="/products/new">Add New Products</a>
                    <a class="dropdown-item" href="/edit/edit">Edit User Account</a>
                    <a class="dropdown-item" href="/user/logout">Logout</a>

                    <%} else if (login){%>


                    <a class="dropdown-item" href="/user/profile">Orders</a>
                    <a class="dropdown-item" href="/edit/edit">Edit User Account</a>                   
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                    

                    <%} else {%>
                    <a class="dropdown-item" href="/user/signup">Sign up</a>
                    <a class="dropdown-item" href="/user/signin">Sign in</a>
                    <%}%>
                </div>
            </li>
        </ul>
    </div>
</nav>