.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 1.5px;
}

.card {
    margin: 10%;
    border-radius: 10px;
}

.card img {
    max-height: 275px;
    width: auto;
    margin-top: 10px;
}

.card-title {
    text-align: center;
}

.card-body .card-text {
    color: #707377;
    text-align: center;
}

.cart-thumbnail {
    max-height: 100px;
}